<% sample_data = moretext(5) %>



<h2>系統字</h2>
<p>
    <%= sample_data%>
</p>

<hr>

<h2 class="ct1">信黑體 W3</h2>
<p class="ct1">
    <%= sample_data%>
</p>

<hr>

<h2 class="ct2">信黑體 W4</h2>
<p class="ct2">
    <%= sample_data%>
</p>

<hr>

<h2 class="ct2">信黑體 W6</h2>
<p class="ct3">
    <%= sample_data%>
</p>

<hr>

<h2 class="ct4">信黑體 W8</h2>
<p class="ct4">
    <%= sample_data%>
</p>
